@model AcquireLunch.ViewModels.IndexViewModel

@{
    ViewBag.Title = "Lunch";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
        </div>
    </section>
}

<h3>Hungry? Start here:</h3>
@using (Html.BeginForm()) {
    <fieldset>
        <ol class="round">
            <li class="one">
                <h5>Who are you?</h5>
                <p>Choose your name below. If you're not there, @Html.ActionLink("add yourself to the list.", "Create", "Person")</p>
                @Html.DropDownListFor(p => p.SelectedPersonId, new SelectList(Model.People, "PersonId", "FullName"))
            </li>

            <li class="two">
                <h5>Choose your food source!</h5>
                <p>Where would you like to order lunch from today?</p>
                @Html.DropDownListFor(r => r.SelectedRestaurantId, new SelectList(Model.Restaurants, "RestaurantId", "Name"))
            </li>

            <li class="three">
                <h5>What would you like to order?</h5>
                <p>You'll be given more detailed options on the next screen.</p>
                @Html.HiddenFor(m => m.SelectedMenuItemId, new SelectList(Model.MenuItems, "MenuItemId", "Name"))
                <p>Can't see what you want? @Html.ActionLink("Add a new menu item", "Create", "MenuItem") or @Html.ActionLink("Browse them all", "Index", "MenuItem")</p>
            </li>
        </ol>
    </fieldset>
}
@section scripts {
        @*@Scripts.Render("~/js/home.index.js")*@
}